/* remove rounded corners */
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-family: 'Open Sans', sans-serif;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.brand-title a { color: #fff; }

#layout { padding: 0; }

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    color: #fff;
    background: #252a3a;
}

.brand-title, .brand-tagline {
    margin: 0;
}
.brand-tagline {
    font-weight: 300;
    color: #fff;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    *display: inline; /* Asterisk is a CSS hack for IE >= 7*/
    zoom: 1;
}

.nav-item a {
    background: transparent;
    text-transform: uppercase;
    color: #828282;
}
.content a {
    color: #000;
}

.nav-item a:hover, .nav-item a:focus {
    color: #fff;
}
.active a {
    text-decoration: underline;
}

.content {
    padding: 2em 1em 0;
}

.footer {
    text-align: center;
}

.codehilite, code {
    padding: 0.1em 1em;
}

.codehilite pre {
    white-space: normal;
    overflow: visible;
}

code {
    background: #272822;
    color: #ddd;
    display: block;
}

h2 {
    padding: 0;
}
h2 small {
    color: #828282;
    font-weight: 300;
}

.post {
    padding-bottom: 2em;
    color: #333;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
