{% extends "base.html" %}
{% set title = 'Home' %}
{% block content %}

{% for page in pages %}
<div class="post">
    <h1>
        <a href="{{url_for('page', path=page.path)}}">{{page.title}}</a>
        <small>{{page.tags}}</small>
        <br><small>posted
            <script>
                document.write(moment("{{page.date}}", "YYYY-M-DD HH:mm Z").fromNow());
            </script>
        </small>
    </h1>
    {% if page.edited %}
    <div><i>Edited on <script>document.write(moment("{{page.edited}}", "YYYY-M-DD HH:mm Z").calendar());</script></i></div>
    {% endif %}
    <br>
    <div>
        {{page.html|safe}}
    </div>
    {% if not loop.last %}<hr>{% endif %}
</div>
{% else %}
nope.
{% endfor %}

{% endblock content %}
