{% extends "base.html" %}
{% set title = 'Home' %}
{% block content %}

{% for page in pages %}
<div class="post">
    <h2>
        <a href="{{url_for('page', path=page.path)}}">{{page.title}}</a>
        <br>
        <small><script>document.write(moment("{{page.date}}", "YYYY-M-DD HH:mm Z").fromNow());</script> // </small>
        <small>{{page.tags}}</small>
    </h2>
    {% if page.edited %}
    <div><i>Edited on <script>document.write(moment("{{page.edited}}", "YYYY-M-DD HH:mm Z").calendar());</script></i></div>
    {% endif %}
    <br>
    <div>
        {{page.html|safe}}
    </div>
</div>
{% else %}
nope.
{% endfor %}

{% endblock content %}
