{% extends "base.html" %}
{% set title = page.title %}

{% block content %}
<div class="post">
    <h2>
        <a href="#">{{page.title}}</a>
        <p>
            <small> <script>document.write(moment("{{page.date}}", "YYYY-M-DD HH:mm Z").fromNow());</script> // </small>
            <small>{{page.tags}}</small>
        </p>
    </h2>
    {% if page.edited %}
    <div><i>Edited on <script>document.write(moment("{{page.edited}}", "YYYY-M-DD HH:mm Z").calendar());</script></i></div>
    {% endif %}
    <br>
    {{page.html|safe}}
</div>

{% endblock content %}
